.footer {
    background-color:rgb(5, 5, 78);
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-top: 05px;
    p {
      color: #fff;
    }
  }